<!-- templates/about.html -->
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>About - inPerson</title>

    </head>

    <body>
        <div class="container-fluid px-5 py-5">

            <h1>ABOUT</h1>

        </div>

        <div class = "container-fluid px-5">

            <p>Here at Princeton, with everyone’s classes and weekly schedules looking so different from each other, organizing meetings and meals with your friends and classmates becomes a hassle. inPerson was created to help remedy this problem by providing a convenient platform for users to share and view the schedules of others. 
            </p>
            <p>Instead of repeatedly sending out forms to find a meeting time that works best, or constantly asking someone what classes they’re in this semester, simply send a request to follow another user’s schedule, and you’ll be able to view it right alongside your own.
            </p>

            <br>

            <h4>THE TEAM</h4>
            <p>Alice Gao ‘21 (@atgao)  - team lead </p>
            <p>Michael Peng ‘21 (@mspeng) </p>
            <p>Anna Qin ‘21 (@alqin) </p>
            <p>Ioana Teodorescu ‘21 (@iat) </p>

            <br>

            <h4>ACKNOWLEDGEMENTS</h4>
            <p>Brian Kernighan, Spring 2019 COS 333 Instructor
            <p>Allison Chang, Spring 2019 COS 333 TA advisor  
            <p>Lance Goodridge, Spring 2019 COS 333 TA

            <br>
            <br>

            <p>  <a href='/'>home</a> </p>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
