{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block inner %}
    <div id="react">
        <!-- Contents get replaced by mounted React.Component -->
        <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
        <i class="pending">Loading components...</i><br><br>
    </div>

    <script>
        window.props = {{props|json}};  // make sure to escape your props to prevent XSS! See here for the source for the json filter: https://gist.github.com/pirate/c18bfe4fd96008ffa0aef25001a2e88f
        window.react_mount = document.getElementById('react');
    </script>
    <script src="/static/src/{{component}}"></script>
{% endblock %}